{% extends "layout.html" %}
{% block title %}Login!{% endblock %}
{% block body %}
    {{ super() }}
    <h2>Credentials please</h2>

     {% for message in get_flashed_messages() %}
        <div style="color: red">
            {{ message }}
        </div>
    {% endfor %}

    <form action="{{ url_for('login') }}" method="post">
        <label>
            <input type="text" name="email"/>
        </label>
        <label>
            <input type="password" name="password"/>
        </label>
        <input type="submit"/>
        {{ form.csrf_token }}
    </form>
{% endblock %}

